@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Importa configurações reutilizáveis de css
@import '../../../../globalAssets/scss/global';

/* Variáveis */

// $color-vermelho: #BD2323;
// $color-hover-vermelho: #be4d4d;
// $color-branco: #ffffff;
// $color-fontecinza: #463B3B;
// $color-hover-fontecinza: #000000;
// $color-cinzaclaro: #F8F8F8;
// $color-cinzafundo: #EEEEEE;
// $shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
// $shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);

/* --- */


header {
    box-shadow: $shadow-caixagrande;
    position: relative;
    padding: 1rem;
}

.navbar {
    @include flexCenter(row, nowrap, space-between);
    width: 100%;

    .links {
        @include flexCenter(row, nowrap, center);
        gap: 2rem;

        a{
            text-decoration: none;
            @include label(400, $color-fontecinza);

            &:hover {
                @include fontHover;
            }
        }
    }

    .sign_btn {
        @include redBtn
    }

    .toggle_btn {
        color: $color-hover-vermelho;
        cursor: pointer;
        display: none;
    }
    
}

.dropdown_menu {
    display: none;
    text-align: center;
    
    .links {
        @include flexCenter(column, nowrap, center);
        a{
            text-decoration: none;
            @include label(400, $color-fontecinza);

            &:hover {
                @include fontHover;
            }
        }
    }

    .sign_btn {
        @include flexCenter(column, nowrap, center);
        @include redBtn;
        width: 100%;
    }
}


@media (max-width: 800px){
    .navbar .links, .navbar .sign_btn {
        display: none !important;
    }

    .navbar .sign_btn {
        display: block !important;
    }

    .dropdown_menu{
        display: block!important;
    }

    .toggle_btn {
        display: flex;
    }
}