@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-vermelho: #BD2323;
    --color-hover-vermelho: #be4d4d;
    --color-branco: #ffffff;
    --color-fontecinza: #463B3B;
    --color-cinzaclaro: #F8F8F8;
    --color-cinzafundo:#EEEEEE;
    --shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    --shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.recsenha_title {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: var(--color-fontecinza);
}

.recsenha_subtitle {
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-fontecinza);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Outfit'; 
    background-color: var(--color-cinzafundo);
}

.container_recsenha{
    width: 70%;
    height: 90%;
    background-color: var(--color-cinzaclaro);
    border-radius: 15px;
    box-shadow: var(--shadow-caixagrande);
    margin:5%;
    margin-left: 16%;
}

.button_submit{
    color: var(--color-branco);
    background-color: var(--color-vermelho);
    border:none;
    border-radius: 7px;
    width: 120px;
    height: 35px;
    font-size: 15px; 
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    box-shadow: var(--shadow-caixagrande);
    margin-bottom: 3%;
    margin-left: 3%;
}

.button_submit:hover{
    background-color: var(--color-hover-vermelho);
    transition: 0.4s;
}

.input_box {
    box-shadow: var(--shadow-caixainput);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    height: 30px;
    width: 500px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 15px;
}

.container_icon{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_input input{
    text-align: center;
}

.button_enviar{
    color: var(--color-branco);
    background-color: var(--color-vermelho);
    border:none;
    border-radius: 7px;
    width: 120px;
    height: 35px;
    font-size: 15px; 
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    box-shadow: var(--shadow-caixagrande);
    margin-bottom: 5%;
    margin-top: 2%;
}

.button_enviar:hover{
    background-color: var(--color-hover-vermelho);
    transition: 0.4s;
}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

