@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-vermelho: #BD2323;
    --color-hover-vermelho: #be4d4d;
    --color-branco: #ffffff;
    --color-fontecinza: #463B3B;
    --color-cinzaclaro: #F8F8F8;
    --color-cinzafundo:#EEEEEE;
    --shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    --shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Scrool suave */
    font-family: 'Outfit';
    text-decoration: none;
    box-sizing: border-box; /* Previne que elementos vazem de dentro das divs */
}

html,
body{
    height: 100%;
    background-color: var(--color-cinzafundo);
}

.cadastro_title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: var(--color-fontecinza);
}

.cadastro_subtitle {
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-fontecinza);
}

.container_cadastro{
    width: 70%;
    height: 90%;
    background-color: var(--color-cinzaclaro);
    border-radius: 15px;
    box-shadow: var(--shadow-caixagrande);
    margin:5%;
    margin-left: 16%;
}

.container_icon{
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 5% 5%;
}

.img_cliente{
    margin-right: 200px;
}

.img_cliente:hover{
    transform: translateY(-5%);
    transition: 0.5s;
    cursor:pointer;
}

.img_empresa:hover{
    transform: translateY(-5%);
    transition: 0.5s;
    cursor:pointer;
}

.container_nomes{
    display: flex;
    justify-content: center;
}

#lbl_clientes{
    margin-right: 370px;
    margin-bottom: 6%;
}

.cadastro_id{
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-fontecinza);
    cursor:pointer;
    text-decoration: none;
}

.button_submit{
    font-family: 'Outfit';
    color: var(--color-branco);
    background-color: var(--color-vermelho);
    border:none;
    border-radius: 7px;
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: var(--shadow-caixagrande);
    margin-bottom: 3%;
    margin-left: 3%;
}

.button_submit:hover{
    background-color: var(--color-hover-vermelho);
    transition: 0.4s;
}
