@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-vermelho: #BD2323;
    --color-hover-vermelho: #be4d4d;
    --color-branco: #ffffff;
    --color-fontecinza: #463B3B;
    --color-hover-fontecinza: #000000;
    --color-cinzaclaro: #F8F8F8;
    --color-cinzafundo:#EEEEEE;
    --shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    --shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.login_title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 9.5%;
    color: var(--color-fontecinza);
}

.login_subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-fontecinza);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Outfit'; 
    text-decoration: none;
}

#return {
    display: flex;
    justify-content: start;
    align-items: center;
}

.material-symbols-outlined {
    color: var(--color-vermelho);
    font-size: 35px !important;
  
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 200,
    'opsz' 48
    
  }

body{
    background: url(../img/fundo_login.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    /*background-size: cover;*/  
    width: 100%;
    background-color: var(--color-cinzafundo);  
    font-family: 'Outfit'; 
    color: var(--color-fontecinza)
}

#div_form_login{
    display: flex;
    justify-content: end;
    margin-right: 15%;
    margin-top: 6.5%;
}

#formulario{
    display: block;
    width: 300px;
    justify-content: center;
    font-family: 'Outfit';
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--color-cinzaclaro);
    box-shadow: var(--shadow-caixagrande);
    border-radius: 15px;
}

.input_box {
    box-shadow: var(--shadow-caixainput);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    height: 30px;
    width: 265px;
    margin-top: 2%;
    margin-bottom: 10%;
    padding-left: 15px;
}

.input_box input{
    text-align: center;
}

.input_checkbox{
    box-shadow: var(--shadow-caixainput);
    border: none;
    background-color: var(--color-fontecinza);
    height: 16px;
    width: 16px;
}

.container_conectado {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
}

.container_conectado input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--color-branco);
    box-shadow: var(--shadow-caixainput);
    border-radius: 2px;
}
  
.container_conectado:hover input ~ .checkmark {
    background-color: var(--color-cinzafundo);
    transition: 0.4s;
}
  
.container_conectado input:checked ~ .checkmark {
    background-color: var(--color-vermelho);
}

.container_conectado .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 0px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container_conectado input:checked ~ .checkmark:after {
    display: block;
}

.login_senha{
    font-style: normal;
    font-weight: 600;
    font-size: 12px; 
}

.none_senha{
    text-decoration: none;
    color: var(--color-fontecinza);
}

.none_senha :hover{
    color: var(--color-hover-fontecinza);
    transition: 0.4s;
}

#container_login{
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button_submit{
    color: var(--color-branco);
    background-color: var(--color-vermelho);
    border:none;
    border-radius: 7px;
    width: 280px;
    height: 8.5%;
    font-size: 15px; 
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5.5%;
    cursor: pointer;
    box-shadow: var(--shadow-caixagrande);
}

.button_submit:hover{
    background-color: var(--color-hover-vermelho);
    transition: 0.4s;
}

.login_inscrever{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.none_inscrever{
    text-decoration: none;
    color: var(--color-fontecinza);
}

a.none_inscrever:hover{
    color: var(--color-hover-fontecinza);
    transition: 0.4s;
}

.login_gmail{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-vermelho);
    margin-left: 15px;
    margin-top: 7px;
    cursor: pointer;
}

#container_gmail{
    margin-top: 9%;
    display: flex;
    justify-content: center;
    margin-bottom: 13%;
}


#container_termos{
    display: flex;
    justify-content: center;
}

.login_termos{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--color-fontecinza);
    cursor: pointer;
}

.none_termos{
    color: var(--color-fontecinza);
    text-decoration: none;
}

.none_termos:hover{
    color: var(--color-hover-fontecinza);
    transition: 0.4s;
}


@media screen and (max-width: 800px) {

    
    body{
        background-image: none;
        background-color: var(--color-cinzafundo);
    }
  }


