@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;00&display=swap');

/* Variáveis CSS (presentes no arquivo 'tailwind.config.js') */
:root {
    --color-vermelho: #BD2323;
    --color-hover-vermelho: #be4d4d;
    --color-branco: #ffffff;
    --color-fontecinza: #463B3B;
    --color-cinzaclaro: #F8F8F8;
    --color-cinzafundo: #EEEEEE;
    --shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    --shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);
}



/* Classes Personalizadas */

/* Valores padrões */
@layer components
{
    .btn-red
    {
        @apply text-branco text-base font-normal cursor-pointer shadow-caixainput bg-vermelho border-0 rounded-lg px-6 py-2.5 antialiased
    }

    .cardContainer
    {
        @apply w-4/5 my-8 mx-auto bg-cinzaclaro rounded-2xl shadow-xl p-8
    }

    .backgroundContainer 
    {
        @apply w-full m-0 md:w-4/5 md:m-7 my-auto md:bg-branco rounded-2xl shadow-2xl p-7
    }

    .titulo {
        @apply font-normal text-4xl text-fontecinza;
    }
    
    .subtitulo {
        @apply font-normal text-base text-fonteclaro;
    }
    
      
}


.swal2-confirm, .swal2-styled
{
    background-color: #BD2323 !important;
    font-family: 'Outfit'!important;
    font-weight: 300 !important;
}

.swal2-title, .swal2-html-container
{
    font-family: 'Outfit'!important;
    font-weight: 400!important;
}

.redBtn {
    color: #ffffff;
    background-color: #BD2323;
    border: none;
    border-radius: .4375rem;
    font-size: .9375rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0rem .25rem .625rem rgba(0, 0, 0, 0.15);
    padding: 10px 25px;
}

.whiteBtn {
    color: var(--color-fontecinza);
    background-color: #ffffff;
    border: none;
    border-radius: .4375rem;
    font-size: .9375rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0rem .25rem .625rem rgba(0, 0, 0, 0.15);
    padding: 10px 25px;
}

.feather {
    /* width: 20px;
    height: 20px; */
    /* stroke: var(--color-fontecinza); */
    /* stroke-width: 2; */
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

.redBtn:hover {
    background-color: #be4d4d;
    transition: 0.4s;
}

.signIn {
    font-weight: 400;
    font-size: 1.125rem;
    color: #BD2323;
    cursor: pointer;
}

.signIn:hover {
    opacity: 70%;
    transition: 0.4s;
}

/* .backgroundContainer {
  width: 80%;
  margin: 30px auto; 
  background-color: #F8F8F8;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
} */
