@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Variáveis */
:root {
    --color-vermelho: #BD2323;
    --color-hover-vermelho: #be4d4d;
    --color-branco: #ffffff;
    --color-fontecinza: #463B3B;
    --color-hover-fontecinza: #000000;
    --color-cinzaclaro: #F8F8F8;
    --color-cinzafundo: #EEEEEE;
    --shadow-caixagrande: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    --shadow-caixainput: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* --- */

/* Formatação aplicada para todos os elementos */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Scrool suave */
    font-family: 'Outfit';
    text-decoration: none;
    box-sizing: border-box;
    /* Previne que elementos vazem de dentro das divs */
}

html,
body {
    height: 100%;
    /* Garante que o body e o html ocupem toda a tela */
    background-color: var(--color-cinzafundo);
    color: var(--color-fontecinza);
}

/* Centraliza o conteúdo principal do site */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: var(--color-cinzafundo);
    background: url(img/onda_fundo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

/* Formata as "linhas" da caixa do forms */
.row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* --- */

.main_title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 9.5%;
    color: var(--color-fontecinza);
}

.label {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-fontecinza);
}

.pagamento_subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.formulario {
    width: clamp(200px, 350px, 350px);
    /* clamp(tamanhos Mínimo, Preferível(médio) , Máximo) */
    border-radius: 15px;

    padding: 50px 30px;
    background-color: var(--color-cinzaclaro);
    box-shadow: var(--shadow-caixagrande);

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.input_box {
    width: 100%;
    box-shadow: var(--shadow-caixainput);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 10%;
    padding-left: 15px;
}


.button_submit {
    color: var(--color-branco);
    background-color: var(--color-vermelho);
    border: none;
    border-radius: 7px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: var(--shadow-caixainput);
    padding: 2%;
}

.button_submit:hover {
    background-color: var(--color-hover-vermelho);
    transition: 0.4s;
}

.return_button {
    align-items: center;
    padding: 5% 0% 0 0;
    color: var(--color-fontecinza);
    font-weight: 500;
    font-size: 14px;
    border: none;
}


.return_button:hover {
    color: var(--color-hover-fontecinza);
    transition: 0.4s;
}

.return_button a {
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: var(--color-fontecinza);
}

.return_button button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: var(--color-fontecinza);
}

@media screen and (max-width: 800px) {
    html,
    body {

        background-color: var(--color-vermelho);
    }
}